
@use '../../common-styles/common';



.mainFrame {
    width: 100vw; height: 100vh;
    background: var(--c-white2);
    display: flex;
    flex-flow: row nowrap;
}


.logoPic {
    width: 42.6%; height: 100%;

    // doesn't work in css
    //background-image: url("src/assets/images/mir-rab.png");

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.formFrame {
    flex-grow: 1; height: 100%;
    @include common.column;
    align-items: center;
    justify-content: center;
}


.enterTitle {
    width: 360px;
    font: 500 43px 'TT Commons';
    color: #424041; // Gray todo extract
}
.textContainer {
    width: 360px;
}
.noAccount {
    font: 400 14px 'TT Commons';
    color: #8B8B8B; // Gray Middle todo extract
}
.signup {
    font: 400 17px 'TT Commons';
    color: #424041; // Gray Middle todo extract
}


.inputBox {
    @include common.column;
    width: 360px;
}
.btnBox {
    position: relative;
}
.spinnerBox {
    @include common.abs;
    @include common.center;
}


.errorContainer {
    position: relative;
    height: 36px;
}
.errorContainer2 {
    position: absolute;
    top: 0; left: 0;
    //margin: 0 auto;
    white-space: nowrap;
    @include common.row;
    padding-top: 4px;
    gap: 4px;
}
.error {
    font: 400 14px 'TT Commons';

    //@include common.border(1px, solid, #EE1D23, 6px);
    //padding: 2px 3px 5px 3px;

    padding: 2px 3px 5px 1px;

    height: 24px;

    color: #EE1D23; // Red todo extract
}