

@use '../../styles/common';





.page {
    width: 100%;
    min-height: 100vh;
    background: #FCFCFC;
    @include common.center;
}

.pageFrame {
    @include common.col;
    padding: 96px 0 96px 0;
}

.mainTitle {
    font: 500 36px 'TT Commons';
    color: #424041;
}

.titleText {
    font: 400 12px 'TT Commons';
    color: #8B8B8B;

    .action {
        color: #424041;
        &:hover{
            cursor: pointer;
            text-decoration-line: underline;
        }
    }
}