body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), url('src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: local('Roboto'), url('src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'TT Commons';
    font-weight: 300;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons Light.otf');
}
@font-face {
    font-family: 'TT Commons';
    font-weight: 400;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons Regular.otf');
}
@font-face {
    font-family: 'TT Commons';
    font-weight: 400;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons Regular.otf');
}
@font-face {
    font-family: 'TT Commons';
    font-weight: 500;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons Medium.otf');
}
@font-face {
    font-family: 'TT Commons';
    font-weight: 600;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons DemiBold.otf');
}
@font-face {
    font-family: 'TT Commons';
    font-weight: 700;
    src: local('TT Commons'), url('src/assets/fonts/TT Commons/TT Commons Bold.otf');
}